<h1><%= @comment.id ? "Edit Comment" : "Add Comment" %></h1>
<hr/>

<%= form_for [@movie, @comment] do |f| %> 
    <%= f.label :body %>
    <%= f.text_field :body, required: true, autofocus: true %>

    <%= f.submit %>
    
<% end %>
