<h1><%= @movies.name %> - <%= @comment %></h1>
<hr />
<table>
    <tr>
        <th>Comment</th>
    </tr>
    <tr>
        <td><%= @comment %><td>
    </tr>
</table>
<hr />
<%= link_to 'Back', %>
<%= link_to 'Edit', %>
<%= link_to 'Delete', %>