<h1><%= @movies.name %> - <%= @comment %></h1>
<hr />
<table>
    <tr>
        <th>Comment</th>
    </tr>
    <tr>
        <td><%= @comment %><td>
    </tr>
</table>
<hr />
<%= link_to 'Back', @title.movie_id, @movie%>
<br />
<%= link_to 'Edit', edit_movie_comment_path([@title, @comment])%>
<br />
<%= link_to 'Delete', [@title, @comment], method: :delete%>