<h1>Comment for <%= @movie.title %></h1>
<hr />
<table>
    <tr>
        <th>Comment</th>
    </tr>
    <tr>
        <td><%= @comment.body %><td>
    </tr>
</table>
<hr />
<%= link_to 'Back', movie_path(@movie) %>
<br />
<%= link_to 'Edit', edit_movie_comment_path([@movie, @comment])%>
<br />
<%= link_to 'Delete', [@movie, @comment], method: :delete%>
